<a-assets>
  <!-- <a-asset-item id="scene" src="/assets/models/low_poly_winter_scene/scene.gltf"></a-asset-item> -->
  <!-- <a-asset-item id="zelda" src="/assets/models/the_legend_of_zelda_tilt_brush_forest/scene.gltf"></a-asset-item> -->
  <a-asset-item id="lowpolyscene" src="/assets/models/lowpolyscene/scene.gltf"></a-asset-item>
  <a-asset-item id="troll" src="/assets/models/troll/scene.gltf"></a-asset-item>
  <a-asset-item id="polaroid-obj" src="/assets/polaroid2.obj"></a-asset-item>
  <a-asset-item id="polaroid-mtl" src="/assets/polaroid2.mtl"></a-asset-item>

  <!-- <a-asset-item id="baseball-bat-obj" src="/assets/BaseBall_Bat_01.obj"></a-asset-item>
  <a-asset-item id="baseball-bat-mtl" src="/assets/BaseBall_Bat_01.mtl"></a-asset-item> -->

  <a-asset-item id="baseball-bat" src="/assets/BaseBall_Bat_01.gltf"></a-asset-item>

  <a-asset-item id="radio" src="/assets/models/radio/model.gltf"></a-asset-item>
  <img
    id="background"
    src="/assets/images/background.jpg"
  ></img>

  <audio id="music" src="/assets/audio/mellow_bossa.mp3"></audio>
  <audio id="room" src="/assets/audio/room_tone.wav"></audio>

</a-assets>
