<a-assets>
  <a-mixin
    id="controller"
    physics-collider
    static-body="shape: sphere; sphereRadius: 0.02"
    super-hands="colliderEvent: collisions;
                            colliderEventProperty: els;
                            colliderEndEvent: collisions;
                            colliderEndEventProperty: clearedEls"
    collision-filter="group: hands; collidesWith: red; collisionForces: false"
  >
  </a-mixin>
  <a-mixin
    id="cube"
    dynamic-body
    grabbable
    geometry="primitive: box; width: 0.5; height: 0.5; depth: 0.5"
  >
  </a-mixin>
  <a-mixin
    id="hole"
    geometry="primitive: circle; radius: 0.3"
    material="color: black"
    rotation="-76 0 0"
  ></a-mixin>
  <a-mixin
    id="hoxelContainer"
    static-body
    physics-collider
    collision-detected
    collision-filter="group: grey; collidesWith: red"
    geometry="primitive: cylinder; radius: .3; depth: 0.5"
    visible="false"
    material="color: grey"
  ></a-mixin>
  <a-mixin
    id="hoxel"
    scale="1 1 1"
    rotation="0 180 0"
    position="0 .5 .2"
  ></a-mixin>
</a-assets>
