<a-entity position="0 1.5 10">
  <a-camera>
    <a-entity
      geometry="primitive: plane; height: 0.2; width: 0.2"
      position="0 0 -1"
      material="color: gray; opacity: 0.5"
    ></a-entity
  ></a-camera>
  <a-entity
    id="rhand"
    mixin="touch"
    vive-controls="hand: right"
    oculus-touch-controls="hand: right"
    windows-motion-controls="hand: right"
  >
  </a-entity>
  <a-entity
    id="lhand"
    mixin="touch"
    vive-controls="hand: left"
    oculus-touch-controls="hand: left"
    windows-motion-controls="hand: left"
  >
  </a-entity>
</a-entity>
